/* CSS Document */
.buttonmenu {
	background-color: #0018FF;
	color: white;
	padding: 10px;
	font-size: 14px;
	border: none;
	cursor: pointer;
} /* Blue */

.h1{
	color: #990000; font-size: 30px; margin: 0; font-weight: bold; text-transform: uppercase;
}

